OS:
  16.04.03 LTS

Module dependencies:
  git
  python-lxml
  pandoc (universe)

Wireframe dependencies:
  gawk
  libsaxonb-java
  default-jre
  graphviz
  python-cairosvg

Testing dependencies:
  bsh
